services:
  prometheus:
    image: prom/prometheus:latest
    profiles:
      - remote
    ports:
      - "9090:9090"
    volumes:
      - ./monitoring/prometheus.yaml:/etc/prometheus/prometheus.yml
    networks:
      - common_net

  grafana:
    image: grafana/grafana:latest
    profiles:
      - remote
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    volumes:
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    networks:
      - common_net

networks:
  common_net:
    external: true
    name: common_network
